.mostFollowedUsersPara {
  padding: 0.25em;
}

.mostFollowedUsersContainer {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-bottom: 0.5em;
  padding: 0.15em 0.5em;
}

.mostFollowedUsersHr {
  margin: 0.5em 0 0.5em 0;
}

.mostFollowedUsersImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mostFollowedUsersCredentials {
  display: flex;
  flex-direction: column;
  line-height: 1.35;
  width: 100%;
}

.mostFollowedUserNameAnchor {
  color: white;
  margin: 0;
  text-decoration: none;
}

.mostFollowedUserNameAnchor:hover {
  text-decoration: underline;
}

.followOrUnfollowButton {
  width: 7em;
  border-radius: 1.5em;
  margin-left: auto;
  font-size: 1rem;
  padding: 0.25em 0;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .mostFollowedUsersContainer {
    display: flex;
    gap: 0;
  }
}
