.chatDetailsContainer {
  height: 75vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: var(--main-padding);
  color: var(--secondary-color);
}

.chatDetailsUserMessage,
.chatDetailsUserReceiverMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  word-break: break-word;
  overflow-wrap: anywhere;
  hyphens: auto;
  line-break: anywhere;
  text-align: center;
}

.chatDetailsUserReceiverMessage {
  align-items: flex-start;
}

.chatDetailsMessage {
  max-width: 22em;
  gap: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0.5em 1em;
  border-radius: 1em;
  margin-top: 1.5em;
  background-color: #3a3b3c;
  color: var(--secondary-color);
}

.chatDetailsUserMessage .chatDetailsMessage:first-child {
  border-bottom-right-radius: 0;
}

.chatDetailsUserReceiverMessage .chatDetailsMessage:last-child {
  border-bottom-left-radius: 0;
}

.chatDetailsImage {
  max-width: 16rem;
  height: auto;
  margin-top: 1.5em;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.chatReceiverSendingMessagesContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: 22rem;
}

.chatDetailsForm {
  display: flex;
  align-items: center;
  padding: 1.5em 0.5em;
  gap: 0.5em;
}

.chatDetailsSendImgInput,
.chatDetailsSendBtn {
  width: 30px;
  height: 30px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}

.chatDetailsSendImageSVG,
.chatDetailsSendMessageSVG {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  top: 5%;
  outline: 2px solid var(--main-color-input);
  object-fit: contain;
}

.chatDetailsInput {
  width: 100%;
  outline: 1px solid var(--main-color-input);
  background-color: var(--main-background-color);
  color: var(--secondary-color);
  padding: 0.15em 0;
  border-radius: 0.5em;
}

.chatDetailsInput::placeholder {
  padding: 0.5em;
}
