.chatDetailsContainer {
  color: white;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1.5em;
}

.chatDetailsUserMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  word-break: break-word;
  overflow-wrap: anywhere;
  hyphens: auto;
  line-break: anywhere;
  text-align: center;
  /* outline: 2px solid blue; */
}

.chatDetailsUserReceiverMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  word-break: break-word;
  overflow-wrap: anywhere;
  hyphens: auto;
  line-break: anywhere;
  text-align: center;

  /* outline: 2px solid red; */
}

.chatReceiverSendingMessagesContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: 22rem;
}

.chatDetailsSendMessageOrImageContainer {
  margin-top: auto;
  position: sticky;
  bottom: 0%;
  display: flex;
  align-items: center;
  padding: 1.5em 0.5em;
}

.chatDetailsSendImage {
  border-radius: 0.5rem;
  max-width: 16rem;
  height: auto;
  margin-bottom: 1em;
}

.chatDetailsSendMessage {
  max-width: 22em;
  /* outline: 2px solid black; */
  padding: 0.5em 1em;
  /* margin-left: 0.25em; */
  border-radius: 1em;
  background-color: #3a3b3c;
  color: white;
}

.chatDetailsSendImgInput,
.chatDetailsSendBtn {
  width: 30px;
  height: 30px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}

.chatDetailsSendImageSVG,
.chatDetailsSendMessageSVG {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* background-color: black; */
  position: relative;
  top: 5%;
  outline: 2px solid white;
}

.chatDetailsInput {
  width: 100%;
}
