.formCreatePostContainer {
  background-color: var(--main-background-color);
  color: var(--secondary-color);
}

.formTextarea {
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  padding: 2em;
  background-color: var(--main-background-color);
  color: var(--secondary-color);
}

.formTextarea::placeholder {
  font-size: 1.2rem;
}

.formFlexedControlsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 2em;
}

.formControls {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.formControlsImg {
  width: 20px;
}

.formControlsUploadingImg {
  position: relative;
  width: 20px;
  z-index: 1;
  opacity: 0;
}

.formControlsImg:hover,
.formControlsUploadingImg:hover {
  cursor: pointer;
}

.formControlsImg:first-child {
  position: absolute;
}

.formControlsImg:last-child {
  border-bottom: 2px solid var(--secondary-color);
}

.spanInputTagError {
  padding: 2em;
}

.formFlexedLengthContainer {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.formTagFlexedContainer {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  margin-top: 1.5em;
  padding: 0em 2em;
}

.submitPostBtn {
  padding: 0.25em 1.25em;
  border-radius: 0.75em;
  border: 0;
  color: #121212;
  transition: background-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

.submitPostBtn:hover {
  cursor: pointer;
  background-color: rgb(247, 122, 73);
  color: var(--secondary-color);
}

.formInputTag {
  border: 0;
  border-radius: 0.5em;
  padding: 0.25em 0;
  background-color: var(--main-background-color);
  color: var(--secondary-color);
  outline: 2px solid var(--main-color-input);
}

span[role="alert"] {
  color: red;
}
