.mainGridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  scroll-behavior: smooth;
  outline: 2px solid var(--main-color-input);
  min-height: 91.5vh;
  position: relative;
  overflow: hidden;
}

.mainGridAsideNavigation {
  display: flex;
  justify-content: flex-end;
  padding: 2em 3em 0 0;
  background-color: var(--main-background-color);
}

.mainGridRightSectionContainer {
  background-color: var(--main-background-color);
  color: var(--secondary-color);
  outline: 2px solid var(--main-color-input);
}

.latestUsersContainer,
.mostFollowedUsersContainer,
.announcementsContainer {
  outline: 2px solid var(--main-color-input);
  max-width: fit-content;
  margin-top: 1em;
  margin-left: 1.25em;
}

.announcementsContainer {
  outline: none;
  padding: 0;
}

.announcementsContainer > li {
  font-size: 0.95rem;
  margin-left: 0.75em;
}

.announcementsHr {
  margin: 0.5em 0 0.5em 0;
}

.mainGridSectionContainer {
  background-color: var(--main-background-color);
  outline: 2px solid var(--main-color-input);
  width: 100%;
}

@media screen and (max-width >= 1200px) {
  .mainGridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .latestUsersContainer,
  .mostFollowedUsersContainer,
  .announcementsContainer {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .mainGridAsideNavigation,
  .mainGridRightSectionContainer {
    display: none;
  }

  .mainGridContainer {
    grid-template-columns: 1fr;
  }
}
