.articlePostHeader {
  outline: 2px solid var(--main-color-input);
  padding: var(--main-padding);
  display: flex;
  justify-content: center;
  gap: 0.5em;
  font-family: var(--main-font);
  font-weight: 700;
}

.articlePostHeaderAnchor {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 1.15rem;
}

.articlePosHeaderSpan {
  border-bottom: 3px solid #e66c47;
}

.articlePostContainer {
  color: var(--secondary-color);
  padding: var(--main-padding);
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-family: var(--main-font);
}

.articlePostContainer:hover {
  background-color: var(--main-background-hover-color);
  cursor: pointer;
}

.articleAuthorImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.articleDate {
  color: var(--main-color-input);
}

.articleAuthor {
  font-weight: bold;
}

.articleAuthor:hover {
  text-decoration: underline;
}

.articlePostAuthor {
  display: flex;
  gap: 0.5em;
  font-weight: 500;
}

.articlePostLikeAndComment {
  display: flex;
  gap: 1em;
}

.articleLike,
.articleComment {
  width: 20px;
  height: 20px;
  object-fit: scale-down;
}

.articlePostLikesContainer,
.articlePostCommentsContainer {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.articlePostImg {
  width: 100%;
}

.articlePostMessagePara {
  color: var(--secondary-color);
  text-align: center;
  display: flex;
  place-content: center;
  margin-top: 0.5em;
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 1.15rem;
}
