.userProfileWrapper {
  padding: var(--main-padding);
  color: var(--secondary-color);
  font-family: var(--main-font);
  font-weight: 500;
}

.userProfileFlexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  gap: 2em;
}

.editUserProfileContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  gap: 1em;
}

.userProfileImg {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userProfileEditImg {
  width: 30px;
}

.userProfileEditInput,
.userProfileEditImg {
  position: absolute;
  width: 30px;
  transform: translate(210px, 40px);
}

.userProfileEditInput {
  z-index: 1;
  opacity: 0;
}

.userCredentials {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}

.userProfilePrimaryInput,
.userProfileSecondaryInput {
  background-color: var(--main-color);
  outline: 2px solid var(--main-color-input);
  color: var(--secondary-color);
  width: 100%;
  max-width: 100%;
}

.userProfileStatistics {
  display: flex;
  text-align: center;
  gap: 2em;
}

.userFollowAndStartConversationFlexContainer {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 0.5em;
}

.followUserBtn {
  max-width: 100%;
  padding: 5% 30%;
  border-radius: 1rem;
  background-color: #c4c2ce;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out color 0.15s ease-in-out outline
    0.15s ease-in-out;
}

.followUserBtn:hover {
  background-color: var(--main-background-color);
  color: var(--main-color-input);
  outline: 1px solid var(--secondary-color);
}

.userStartConversationSVG {
  width: 45px;
  outline: 1px solid var(--secondary-color);
  border-radius: 0.5em;
  transition: background-color 0.15s ease-in-out color 0.15s ease-in-out;
}

.userStartConversationSVG:hover {
  background-color: #c4c2ce;
  cursor: pointer;
}

.userProfileWebsites {
  margin-top: 1.5em;
}

.userProfileSVGFlexContainer {
  display: flex;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.userProfileSVG {
  width: 20px;
}

.userProfileBtnsContainer {
  margin-top: 1em;
  display: flex;
  gap: 0.5em;
}

.userProfileBtn {
  color: #121212;
  width: 7em;
  padding: 0.25em 0;
  border-radius: 0.5em;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out color 0.15s ease-in-out outline
    0.15s ease-in-out;
}

.userProfileBtn:hover {
  background-color: var(--main-background-color);
  color: var(--secondary-color);
  outline: 2px solid var(--secondary-color);
}

.userProfilePostsPara {
  text-align: center;
  margin: 0.5em 0 0.5em 0;
}

.userProfileHr {
  color: var(--main-color-input);
}

@media screen and (max-width: 1280px) {
  .userProfileImg {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
  }

  .userProfileFlexContainer {
    display: flex;
    align-items: center;
    width: 90%;
  }

  .userProfileEditInput,
  .userProfileEditImg {
    position: absolute;
    width: 30px;
    transform: translate(110px, 30px);
  }
}

@media screen and (max-width: 895px) {
  .userProfileImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
  }

  .userProfileStatistics {
    gap: 0.5em;
    font-size: 0.85rem;
  }

  .userProfileFlexContainer {
    display: flex;
    align-items: center;
    width: 80%;
    gap: 1em;
  }

  .userProfileEditInput,
  .userProfileEditImg {
    position: absolute;
    width: 30px;
    transform: translate(65px, 20px);
  }

  .followUserBtn {
    padding: 5% 20%;
  }
}

@media screen and (max-width: 660px) {
  .editUserProfileContainer {
    gap: 0.5em;
  }
}
