.flexedSearchForUsersWrapper {
  /* outline: 2px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  gap: 2em;
  color: var(--paragraph--secondary-color);
}

.flexedSearchUsersContainer {
  display: flex;
  gap: 0.25em;
  width: 60%;
}

.searchForUserSVG {
  width: 20px;
}

.searchForUserInput {
  width: 100%;
  border-radius: 0.5em;
  padding: 0.25em 0;
}

.showFoundOrNotUsersContainer {
  /* outline: 2px solid beige; */
  text-align: center;
  width: 100%;
}

.foundUsersContainer {
  /* outline: 2px solid green; */
  display: flex;
  /* text-align: left; */
  align-items: center;
  gap: 1em;
}

.foundUserProfileImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.foundUserNameContainer {
  display: flex;
  flex-direction: column;
}

.foundUserNameContainer a {
  color: var(--paragraph--secondary-color);
  text-decoration: none;
  margin: 0;
}

.foundUserNameContainer a:visited {
  color: var(--paragraph--secondary-color);
}

@media screen and (max-width: 940px) {
  .flexedSearchUsersContainer {
    width: 100%;
  }
}
