.latestUsersPara {
  padding: 0.5em;
  font-size: 1.2rem;
  font-family: var(--main-font);
  font-weight: 700;
}

.latestUsersContainer {
  display: flex;
  gap: 1em;
  align-items: center;
  margin: 0.5em 0 0.5em 0;
  padding: 0.15em 0.5em;
  font-family: var(--main-font);
  font-weight: 500;
}

.latestUsersHr {
  width: 95%;
  margin: 0 auto;
}

.latestUsersImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.latestUserCredentials {
  display: flex;
  flex-direction: column;
  line-height: 1.35;
  width: 100%;
}

.latestUserNameAnchor {
  color: var(--secondary-color);
  margin: 0;
  text-decoration: none;
}

.latestUserNameAnchor:hover {
  text-decoration: underline;
}

.laterUserDisplayName {
  color: var(--main-color-input);
}

.followButton,
.unFollowButton {
  width: 7em;
  border-radius: 1.5em;
  margin-left: auto;
  font-size: 1rem;
  padding: 0.25em 0;
  cursor: pointer;
}

.followButton:hover {
  background-color: rgb(250, 191, 168);
}

.unFollowButton {
  background-color: var(--main-background-color);
  outline: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.unFollowButton:hover {
  background-color: var(--secondary-color);
  color: #121212;
  outline: none;
}

@media screen and (max-width: 1200px) {
  .latestUsersContainer {
    display: flex;
    gap: 0;
  }
}
