.errorElementContainer {
  outline: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  height: 100vh;
}

.errorImg {
  width: 100px;
}

.errorPara {
  font-size: 2rem;
}
