.gridFormWrapper {
  display: grid;
  grid-template-columns: var(--grid--template--cols--forms);
  min-height: 100vh;
}

.formFlexedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.gridLeftSideImg {
  max-width: 200px;
  display: inline-block;
}

.welcomeBackPara {
  font-size: 1.4rem;
}

.formFillLoginInfoPara {
  font-size: 0.95rem;
  color: var(--paragraph--main-color);
  margin-bottom: 0.25em;
}

.logInForm {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 0.25em;
}

.logInForm > input {
  background-color: var(--input--main-background-color);
}

.logInForm > input,
.logInBtn {
  color: var(--input--main-color);
  border-radius: 0.7em;
  padding: 0.35em;
}

.guestLoginBtn {
  border-radius: 0.7em;
  padding: 0.35em;
}

.logInBtn {
  margin-top: 0.25em;
  background-color: var(--input--main-background-color);
  transition: 0.25s background-color ease-in-out;
  color: var(--paragraph--secondary-color);
}

.guestLoginBtn {
  margin-top: 0.25em;
  background: var(--guest-login-btn-linear-gradient);
  transition: 0.25s background ease-in-out;
  color: var(--paragraph--secondary-color);
}

.dontHaveAnAccountPara {
  color: var(--input--main-color);
  margin-top: 0.25em;
  text-align: left;
}

a,
a:visited {
  color: var(--input--main-background-color);
  text-decoration: none;
  margin-left: 0.25em;
}

a:hover {
  text-decoration: underline;
}

.logInForm > span {
  color: red;
  text-align: left;
}

.gridRightSideContainer {
  background-color: var(--main-bg-color);
  color: var(--paragraph--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gridRightSideHeader {
  font-size: 3rem;
  background-image: var(--grid--linear--gradient);
  background-clip: text;
  color: transparent;
}

.gridRightSidePara {
  font-size: 1.5rem;
}

.logInBtn:hover {
  background-color: var(--paragraph--secondary-color);
  color: var(--input--main-background-color);
  cursor: pointer;
}

.guestLoginBtn:hover {
  background: var(--paragraph--secondary-color);
  color: var(--input--main-background-color);
  cursor: pointer;
}

.invalidCredentialsFlexedContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.95rem;
  color: red;
  margin-top: 0.5em;
  text-align: left;
}

.invalidCredentialsImg {
  width: 20px;
  margin-right: 0.5em;
}

.loadingSpinnerContainer {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1300px) {
  .gridFormWrapper {
    display: grid;
    grid-template-columns: 375px 1fr;
  }
}

@media screen and (max-width: 680px) {
  .gridFormWrapper {
    grid-template-columns: 1fr;
  }

  .gridRightSideContainer {
    display: none;
  }

  .logInForm {
    width: 80%;
  }
}
