.leftArrowFlexContainer {
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 1.5em;
  color: var(--secondary-color);
  outline: 2px solid var(--main-color-input);
  font-size: 1.25rem;
}

.leftArrowImgContainer {
  border-radius: 50%;
  transition: background-color 0.15s ease-in-out;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftArrowImgContainer:hover {
  background-color: var(--main-background-hover-color);
}

.leftArrowSVG {
  width: 20px;
}
