.leftArrowFlexContainer {
  padding: 1em;
  display: flex;
  gap: 2em;
  color: var(--paragraph--secondary-color);
  outline: 2px solid var(--paragraph--secondary-color);
  max-width: 960px;
  margin: 0;
}

.leftArrowImgContainer {
  border-radius: 50%;
  transition: background-color 0.15s ease-in-out;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftArrowImgContainer:hover {
  background-color: var(--paragraph--main-color);
}

.leftArrowSVG {
  width: 20px;
}
