.settingsFlexWrapper {
  height: 100%;
  outline: 2px solid var(--main-color-input);
  color: var(--main-color-input);
  max-width: 960px;
}

.settingsFlexContainer {
  display: flex;
  align-items: center;
  padding: 1em;
  color: var(--main-color-input);
  gap: 0.25em;
  background-color: var(--main-background-hover-color);
  border-radius: 0.5em;
  width: 97%;
  margin: 0 auto;
  text-decoration: none;
}

.accountPara {
  padding: 1em;
}

.logoutSVG {
  width: 20px;
}

.logoutSVG:hover {
  cursor: pointer;
}

.settingsFlexContainer:hover {
  text-decoration: none;
}
