.mainGridContainer {
  display: grid;
  grid-template-columns: 450px 1fr 500px;
  height: 100vh;
  outline: 2px solid var(--paragraph--main-color);
}

.mainGridAsideNavigation {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: flex-end;
  padding-top: 2em;
  padding-right: 3em;
}

.mainGridRightSectionContainer {
  background-color: var(--main-bg-color);
  color: var(--paragraph--secondary-color);
}

.latestUsersContainer,
.mostFollowedUsersContainer,
.announcementsContainer {
  outline: 2px solid var(--paragraph--main-color);
  max-width: 275px;
  padding: 0.5em;
  margin-top: 1em;
  margin-left: 1.25em;
}

.announcementsContainer {
  outline: none;
  padding: 0;
}

.announcementsContainer li {
  font-size: 0.95rem;
  margin-left: 0.75em;
}
