.mainGridContainer {
  display: grid;
  grid-template-columns: 450px 1fr 500px;
  height: 100vh;
  outline: 2px solid black;
}

aside,
section:first-child,
section:last-child {
  outline: 2px solid black;
}

aside {
  background-color: black;
  display: flex;
  justify-content: flex-end;
  padding-top: 2em;
  padding-right: 3em;
}

.latestUsersContainerWrapper,
.mostFollowedUsersContainerWrapper {
  outline: 2px solid red;
  max-width: 275px;
  padding: 0.5em;
  margin-top: 1em;
  margin-left: 1.25em;
}
