.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: var(--main-bg-color);
}

.homeLinkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeLinkImage,
.userDefaultProfileImg,
.userProfilePictureImg {
  width: 50px;
}

.homeLinkPara {
  color: var(--paragraph--secondary-color);
}

.rightSideFlexUlContainer {
  display: flex;
  align-items: center;
}

.userDefaultProfileImg,
.userProfilePictureImg {
  border-radius: 50px;
}

.homeLinkContainer:hover,
.userDefaultProfileImg:hover {
  text-decoration: none;
  cursor: pointer;
}
