.gridFormWrapper {
  display: grid;
  grid-template-columns: var(--grid-template-cols);
  min-height: 100vh;
}

.formFlexedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.gridLeftSideImg {
  max-width: 200px;
  display: inline-block;
}

.joinUsPara {
  font-size: 1.4rem;
}

.formFillInfoPara {
  font-size: 0.95rem;
  color: var(--main-color-input);
  margin-bottom: 0.25em;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 0.25em;
}

.signUpForm > input,
.formPasswordInputContainer > input {
  background-color: var(--main-background-color);
}

.signUpForm > input,
.formPasswordInputContainer > input,
.signUpBtn {
  color: var(--main-color-input);
  border-radius: 0.7em;
  padding: 0.35em;
}

.signUpBtn {
  margin-top: 0.25em;
  background-color: var(--main-background-color);
  transition: 0.25s background-color ease-in-out;
  color: var(--secondary-color);
}

.alreadyHaveAccountPara {
  color: var(--main-color-input);
  margin-top: 0.25em;
  text-align: left;
}

.alreadyHaveAccountAnchor {
  color: var(--main-background-color);
  text-decoration: none;
}

.alreadyHaveAccountAnchor:visited {
  color: var(--main-background-color);
  text-decoration: none;
}

.alreadyHaveAccountAnchor:hover {
  text-decoration: underline;
}

.formPasswordInputContainer {
  position: relative;
}

.formPasswordInputContainer > input {
  width: 100%;
}

.showPasswordSvg {
  width: 20px;
  position: absolute;
  right: 5%;
  top: 20%;
}

.gridRightSideContainer {
  background-color: var(--main-background-color);
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gridRightSideHeader {
  font-size: 3rem;
  background-image: var(--grid-linear-gradient);
  background-clip: text;
  color: transparent;
}

.gridRightSidePara {
  font-size: 1.5rem;
}

.signUpBtn:hover {
  background-color: var(--secondary-color);
  color: var(--main-color-input);
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .gridFormWrapper {
    display: grid;
    grid-template-columns: 375px 1fr;
  }
}

@media screen and (max-width: 680px) {
  .gridFormWrapper {
    grid-template-columns: 1fr;
  }

  .gridRightSideContainer {
    display: none;
  }

  .signUpForm {
    width: 80%;
  }
}
