.articlePostContainer,
.articleCommentContainer {
  color: white;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  outline: 1px solid white;
}

.articlePostContainer:hover {
  background-color: lightgray;
}

.articleAuthorImg,
.articleUserImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.articlePostAuthor,
.articlePostLikeAndComment,
.articleCommentUser {
  display: flex;
  gap: 0.5em;
}

.articlePostAuthorAndDate {
  display: flex;
  gap: 0.75em;
}

.articlePostAuthor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.articleLike,
.articleComment,
.articleDelete {
  width: 20px;
  height: 20px;
  object-fit: scale-down;
}

.articlePostLikesContainer,
.articlePostCommentsContainer,
.articleCommentLikeAndReply {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.articlePostImg {
  width: 100%;
}

.createArticleComment,
.createReplyArticleComment {
  position: relative;
  justify-content: flex-end;
  align-items: end;
  display: flex;

  & textarea {
    width: 100%;
    resize: none;
    background-color: black;
    color: white;
    border: 0;
    outline: 1px solid white;
  }

  & .createCommentBtn,
  & .createReplyCommentBtn {
    position: absolute;
  }
}
