.articlePostContainer,
.articleCommentContainer,
.articleCommentReplyCommentsContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: var(--main-padding);
  color: var(--secondary-color);
  outline: 1px solid (--main-color-input);
}

.articlePostContainer:hover {
  background-color: var(--main-background-hover-color);
  cursor: pointer;
}

.articlePostAuthor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.articlePostAuthorAndDate {
  display: flex;
  gap: 0.5em;
}

.articleAuthorImg,
.articleUserImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.articlePostAuthor,
.articlePostLikeAndComment,
.articleCommentUser {
  display: flex;
  gap: 1em;
}

.articleLike,
.articleComment,
.articleDelete {
  width: 20px;
  height: 20px;
  object-fit: scale-down;
}

.articlePostImg {
  width: 100%;
}

.articlePostLikesContainer,
.articlePostCommentsContainer,
.articleCommentLikeAndReply,
.articlePostCommentReply,
.articlePostCommentReplies {
  display: flex;
  align-items: center;
  gap: 0.25em;
  cursor: pointer;
}

.articlePostCommentReplies {
  margin-right: 0.5em;
}

.createReplyArticleComment {
  margin: 0 -1.3em 0 -1.5em;
}

.createArticleComment,
.createReplyArticleComment {
  position: relative;
  justify-content: flex-end;
  align-items: end;
  display: flex;
}

.createArticleCommentTextarea,
.createArticleReplyCommentTextarea {
  width: 100%;
  resize: none;
  padding: 1em;
  background-color: var(--main-background-color);
  color: var(--main-color-input);
  border: 0;
  outline: 1px solid var(--main-color-input);
  position: relative;
}

.createCommentBtn,
.createReplyCommentBtn {
  position: absolute;
  padding: 0.25em 1.25em;
  border-radius: 0.75em;
  margin-right: 2em;
  margin-bottom: 1em;
  background-color: var(--main-background-color);
  outline: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  transition: background-color 0.35s ease-in-out color 0.35s ease-in-out;
}

.createCommentBtn:hover,
.createReplyCommentBtn:hover {
  background-color: var(--secondary-color);
  color: #121212;
  outline: none;
  cursor: pointer;
}
