:root {
  --grid-template-cols: 500px 1fr;
  --main-color-input: #9e9ea9;
  --main-background-color-input: #2b2a33;
  --main-background-color: black;
  --grid-linear-gradient: linear-gradient(90deg, #eb8948, #fff);
  --guest-linear-gradient-guest-button: linear-gradient(
    90deg,
    rgba(255, 165, 0) 10%,
    rgb(197, 76, 197) 70%,
    rgba(0, 0, 255) 90%
  );
  --secondary-color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

@keyframes loadingSpinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loadingSpinner {
  animation: loadingSpinner 2000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: 30px;
  height: 30px;
}
