.userProfileWrapper {
  padding: 1.5em;
  color: white;
  outline: 2px solid green;
}

.userProfileFlexContainer {
  display: flex;
  align-items: center;
  gap: 15em;
}

.userProfileStatistics {
  display: flex;
  text-align: center;
  gap: 2em;
}

.userCredentials {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}

.userProfileWebsites {
  margin-top: 1.5em;
}

.userProfileImg {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.userProfileSVGFlexContainer {
  display: flex;
  gap: 0.5em;
  /* outline: 2px solid red; */
  margin-bottom: 0.5em;
}

.userProfileSVG {
  width: 20px;
}

.userProfileSecondaryInput {
  outline: 2px solid white;
  width: 100%;
}

.userProfileBtnsContainer {
  /* outline: 2px solid gainsboro; */
  margin-top: 1em;
}

.editUserProfileContainer {
  display: flex;
  align-items: center;
  gap: 5em;
}

.userProfileEditImg {
  width: 30px;
}

.userProfileEditInput,
.userProfileEditImg {
  position: absolute;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* outline: 2px solid red; */
  margin-top: 9em;
  margin-left: 12em;
}

.userProfileEditInput {
  z-index: 1;
  opacity: 0;
}
