.asideUlContainer img {
  width: 30px;
}

.asideUlContainer li {
  list-style: none;
  display: flex;
  padding: 0.35em 1em;
  margin-bottom: 1.5em;
  border-radius: 1em;
  transition: transform 0.25s ease-in-out;
  cursor: pointer;
}

.asideUlContainer a {
  color: var(--paragraph--secondary-color);
  display: flex;
  align-items: center;
  gap: 1em;
  text-decoration: none;
}

.asideUlContainer a:visited {
  color: var(--paragraph--secondary-color);
}

.asideUlContainer li:hover {
  background-color: var(--paragraph--main-color);
  transform: translateX(-5px);
}

@media screen and (max-width: 940px) {
  .asideUlContainer span {
    display: none;
  }
}
