.skeletonContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.skeletonFlexContainer {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.skeletonFlexContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5em;
  padding: 0.15em 0.5em;
  gap: 1em;
}

.skeletonImg,
.skeletonContent,
.skeletonBtn {
  background-color: var(--main-background-hover-color);
  height: 20px;
}

.skeletonImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.skeletonContent {
  width: 75px;
  height: 20px;
}

.skeletonBtn {
  width: 6em;
  border-radius: 1.5em;
  margin-left: auto;
  padding: 1em 0;
}

.skeletonImg,
.skeletonContent,
.skeletonBtn {
  animation: shimmer 1s ease-in-out infinite;
}

@keyframes shimmer {
  0% {
    background-color: var(--main-background-hover-color);
  }

  100% {
    background-color: gray;
  }
}
